# keep artifacts out of github
.obj/
__pycache__/
*.img
/juku-system.bin
/juku-net-system.bin
/juku-net-mode2-system.bin
/juku-net-smoke-system.bin
/juku-net-baudtest-system.bin
/juku-net-baudtest2-system.bin
/juku-net-mode2-soak-system.bin
/juku-fastboot-stage1.bin
/juku-fastboot-v2.bin
/juku-fastboot-v3.bin
/juku-fastboot-v4.bin
/juku-fastboot-v5.bin
/juku-fastboot-v6.bin
/juku-fastboot-v7.bin
/juku-fastboot-v8.bin
/juku-fastboot-v9.bin
/cs*-baudtest*.json
/cs*-baudtest*.log
/cs*-mode2-soak.json
/cs*-mode2-soak.log
